<!--分页模板-->
{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <!--如果前一页存在，就渲染前一页链接-->
    {% if pagination.has_prev %}
    <li ><a class="page-link" href="{{ url_for(endpoint,page = pagination.page - 1, **kwargs) }}">上一页</a></li>
    {%else%}
    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
    {%endif%}
    <!--iter_pages()返回所有页面链接。渲染全部页面链接，如果是当前页，高亮显示-->
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="page-item active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p , **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="page-item disabled"><a href="#">&hellip;</a> </li>
        {% endif %}
    {% endfor %}
    <!--如果下一页存在,渲染下一页链接-->
    {% if pagination.has_next %}
    <li ><a class="page-link" href="{{ url_for(endpoint,page = pagination.page + 1, **kwargs) }}">下一页</a></li>
    {%else%}
    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
    {%endif%}
</ul>
{% endmacro %}