<!--用于主页-->
<ul class = "posts">
    {% for post in posts %}
    <li class="post">
        <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-author">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <!-- | safe后缀告诉Jinja2不要转义HTML元素    -->
            <div class="post-category">- 类型
                <a href="{{ url_for('.category', id=post.category_id)}}">
                    {{ post.category.category }}
                </a>
            </div>
            <div class="post-title">- 标题
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="post-title-default">{{ post.title }}</span>
                </a>
            </div>
            <div class="post-body">
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
            </div>
            <div class="post-time">- 发布于{{ moment(post.timestamp).fromNow() }}</div>
            <!--#comments 滚动条初始位置为Comments标题-->
            <div class="post-statistics">- 赞 {{ post.likes.count() }}</div>
            <div class="post-like">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_like_post(post) %}
                        <a href="{{ url_for('.post_like', id=post.id, redir=redir) }}">
                            <span>取消赞</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.post_like', id=post.id, redir=redir) }}">
                            <span>点赞</span>
                        </a>
                    {% endif %}
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span>{{ post.comments.count() }}评论</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>