<!--继承base.html的模板进行渲染-->
{% extends "base.html" %}

{% block title %}Flasky - {{ user.username }}{% endblock %}

{% block page_content %}
<!--模板没有page-header，自行进行编写-->
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}
                位置<a href="http://maps.google.com/?q={{ user.location }}">
                    {{ user.location }}
                </a>
            {% endif %}
        </p>
        {% endif %}
        <!--当是管理员登录时，显示各用户的电子邮件地址，并渲染成mailto链接-->
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a> </p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
            注册时间 {{ moment(user.member_since).format('YYYY年M月D日') }}
            最后访问 {{ moment(user.last_seen).fromNow() }}
        </p>
        <p>
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}"
                   class="btn btn-primary">关注</a>
                {% else %}
                <a href="{{ url_for('.unfollow', username=user.username) }}"
                   class="btn btn-default">取消关注</a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('.followers', username=user.username) }}">
                被关注: <span class="badge">{{ user.followers.count() - 1 }}</span>
            </a>
            <a href="{{ url_for('.followed_by', username=user.username) }}">
                已关注: <span class="badge">{{ user.followed.count() - 1 }}</span>
            </a>
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                <span class="label label-default">关注了你</span>
            {% endif %}
        </p>
        <p>
            {% if user == current_user %}
                <a class="btn btn-default" href="{{ url_for( '.edit_profile') }}">编辑资料</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">编辑资料[管理员]</a>
            {% endif %}
        </p>
    </div>
</div>
<h3 id="user-posts"> {{ user.username }}的文章</h3>
{% include '_post.html' %}
<p>当前数据时间是 {{ moment(current_time).format('LLL') }}.</p>
<!--format('LLL') 根据客户端计算计算机中的时区和区域设置渲染日期和时间-->
<p>访问在 {{ moment(current_time).fromNow(refresh=True) }}</p>
<!--fromNow()渲染相对时间戳，例如已经过去几分钟-->
{% endblock %}